@tailwind base;
@tailwind components;
@tailwind utilities;

@import './code.css';

@layer base {





:root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    /* #725ac1 */
    /* --primary: 297deg 24% 64%; */
    --primary: 314deg 81% 84%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 254deg 45% 55%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 143, 85%, 53%;
    --success-foreground: 0 0% 98%;
    --border: 254deg 45% 55%;
    --input: 254deg 45% 55%;
    --ring: 254deg 45% 55%;
    --radius: 0.5rem;
    --glow-filter: url("#lightGlow");
  }
 
  .dark {
    /* #1A1A26 */
    --background: 240deg 19% 13%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240, 17%, 9%;
    --popover-foreground: 0 0% 98%;
    /* #a1c4fd */
    --primary: 217deg 96% 81%;
    /*#fafafa */
    --primary-foreground: 0deg 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 217deg 96% 81%;
    --accent-foreground: 240deg 11.4% 97.6%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --success: 117, 64%, 45%;
    --success-foreground: 0 0% 98%;
    --border: 217deg 96% 81%;
    --input: 217deg 96% 81%;
    --ring: 217deg 96% 81%;
    --glow-filter: url("#darkGlow");
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html{
    @apply scroll-smooth;
  }
  body {
    @apply  text-gray-600 bg-background dark:text-[#f0f1f4]/90 antialiased;
  }
  p {
    @apply font-body font-normal lg:text-lg;
  }
  code, pre{
    @apply font-code text-[#ff6188] bg-gray-50 dark:bg-[#24283b]  dark:text-[#c0caf5];
  }
  pre {
    @apply text-xs md:text-sm tracking-wider overflow-auto rounded-xl rounded-t-none shadow-sm pb-2 md:pb-6;
  }
  code {
    @apply text-sm px-0.5 tracking-wider rounded-md;
  }
}


@layer components {
  .text-gradient {
    @apply bg-clip-text text-transparent dark:bg-gradient-to-tr bg-gradient-to-tl from-[#e59500]  to-pink-500 dark:from-[#4dcead] dark:to-blue-500;
  }
  .text-gradient-reversed {
    @apply bg-clip-text text-transparent dark:bg-gradient-to-tl bg-gradient-to-tr from-[#e59500]  to-pink-500 dark:from-[#4dcead] dark:to-blue-500;
  }

}  


@layer utilities {
  .grid-with-nav {
    gird-template-columns: 5rem auto;
  }
  .form-input {
    @apply bg-transparent placeholder-shown:text-sm appearance-none 
          rounded-md relative block w-full px-3 py-2 h-10 border border-gray-300 text-base
          dark:border-white/50 placeholder-gray-500 text-gray-900 dark:text-white/90 
          focus:outline-none focus:border-yellow-500 dark:focus:border-[#4dcead] focus:border;
  }
  .icon-link {
    @apply w-5 h-5 lg:h-6 lg:w-6 fill-current text-gray-400 dark:group-hover:text-[#4dcead] group-hover:text-[#e59500] transition-colors ease-out;
  }
  .text-outline {
    -webkit-text-stroke: 1px rgba(107, 114, 128, 0.25);
  }


.vertical-divider-light, .vertical-divider {
  @apply w-[1.5px] h-[100px] bg-background relative overflow-hidden;
}
/* In your global CSS file */

[data-light="true"] {
  position: relative; /* Required to position pseudo-elements relative to the dot */
  transition: transform 0.3s ease;
}

[data-light="true"]::before, [data-light="true"]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #a1c4fd;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

[data-state="medium"] {
  transform: scale(1.25);
}

[data-state="medium"]::before {
  transform: scale(2);
  box-shadow: 0 0 1px #a1c4fd, 0 0 2px #a1c4fd;
}

[data-state="medium"]::after {
  transform: scale(3);
  box-shadow: 0 0 1px #a1c4fd;
}

[data-state="high"] {
  transform: scale(1.5);
}

[data-state="high"]::before {
  transform: scale(3);
  box-shadow: 0 0 1px #a1c4fd, 0 0 2px #a1c4fd;
}

[data-state="high"]::after {
  transform: scale(4);
  box-shadow: 0 0 1px #a1c4fd, 0 0 2px #a1c4fd;
}


[data-state="off"] {
  transform: scale(1);
  background-color: rgba(162, 196, 253, 0.2);
}

.vertical-divider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%; /* Center the line */
    transform: translateX(-50%); /* Center the line */
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    background: linear-gradient(to bottom, #1A1A26, #a1c4fd, #c2e9fb); /* Gradient colors: starting with the background color, then transitioning to the line colors */
    box-shadow: 0 0 10px rgba(162, 196, 253, 0.5); /* Glow effect */
 
}

.vertical-divider-light::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%; /* Center the line */
    transform: translateX(-50%); /* Center the line */
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    background: linear-gradient(to bottom, #FFFFFF, #EFBDEB, #B68CB8); /* Gradient colors: starting with the background color, then transitioning to the line colors */
    box-shadow: 0 0 10px rgba(239, 180, 235, 0.8); /* Glow effect */
}

.tran {
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 40px 20px;
  border-color: transparent transparent #007bff transparent;
}

.tran::before {
  content: "";
  position: absolute;
  top: -5px;  /* Adjust these values to position the glowing effect */
  left: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 40px 20px;
  border-color: transparent transparent transparent transparent;
  box-shadow: 0 0 5px #a1c4fd, 0 0 10px #a1c4fd, 0 0 15px #c2e9fb, 0 0 20px #c2e9fb;
  z-index: -1;
}

 .triangle {
  width: 0;
  height: 0;          
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  @apply border-b-[40px] border-b-[#EFBDEB] dark:border-b-[#a1c4fd];
  filter: var(--glow-filter);         
  }



}