@tailwind base;
@tailwind components;
@tailwind utilities;

@import './code.css';

@layer base {


:root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 143, 85%, 53%;
    --success-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --site: 39, 100%, 45%;
    --site-foreground: 165, 57%, 56%;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240, 17%, 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --success: 117, 64%, 45%;
    --success-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --site: 165, 57%, 56%;
    --site-foreground: 39, 100%, 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html{
    @apply scroll-smooth;
  }
  body {
    @apply  text-gray-600 dark:bg-[#1A1A26] dark:text-[#f0f1f4]/90 antialiased;
  }
  p {
    @apply font-body font-normal lg:text-lg;
  }
  code, pre{
    @apply font-code text-[#ff6188] bg-gray-50 dark:bg-[#24283b]  dark:text-[#c0caf5];
  }
  pre {
    @apply text-xs md:text-sm tracking-wider overflow-auto rounded-xl rounded-t-none shadow-sm pb-2 md:pb-6;
  }
  code {
    @apply text-sm px-0.5 tracking-wider rounded-md;
  }
}


@layer components {
  .text-gradient {
    @apply bg-clip-text text-transparent dark:bg-gradient-to-tr bg-gradient-to-tl from-[#e59500]  to-pink-500 dark:from-[#4dcead] dark:to-blue-500;
  }
  .text-gradient-reversed {
    @apply bg-clip-text text-transparent dark:bg-gradient-to-tl bg-gradient-to-tr from-[#e59500]  to-pink-500 dark:from-[#4dcead] dark:to-blue-500;
  }

}  


@layer utilities {
  .grid-with-nav {
    gird-template-columns: 5rem auto;
  }
  .form-input {
    @apply bg-transparent placeholder-shown:text-sm appearance-none 
          rounded-md relative block w-full px-3 py-2 h-10 border border-gray-300 text-base
          dark:border-white/50 placeholder-gray-500 text-gray-900 dark:text-white/90 
          focus:outline-none focus:border-yellow-500 dark:focus:border-[#4dcead] focus:border;
  }
  .icon-link {
    @apply w-5 h-5 lg:h-6 lg:w-6 fill-current text-gray-400 dark:group-hover:text-[#4dcead] group-hover:text-[#e59500] transition-colors ease-out;
  }
  .text-outline {
    -webkit-text-stroke: 1px rgba(107, 114, 128, 0.25);
  }
  .neon-button {
    box-shadow: 
      inset 0 0 10px purple,
      inset 0 0 20px purple, 
      inset 0 0 40px purple, 
      0 0 50px purple, 
      0 0 100px purple, 
      0 0 200px purple;
    border: solid 10px white;
    text-shadow: 
    0 0 10px purple, 
    0 0 20px purple;
  }
}